.about{ 
    /*background-image: url('https://images.pexels.com/photos/2539924/pexels-photo-2539924.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');*/
    background-color: rgb(2, 177, 177);   
  }

  .card-head{
    font-family: 'Times New Roman', Times, serif;
    text-align: start;
    font-size: 50px;
    font-weight: 550;
    padding: 8px 20px;
  }

  .about>.card-body{
    padding-bottom:0px;
  }

  .about>.card-body>.card-text>hr{
    background-color: black;
    height: 3px;
  }

  .about>.card-body>.card-text{
    padding: 0px 20px;
    line-height: 30px;
    font-size: 17px;
  }

  @media(min-width:768px)
  {
    .card-img{
      height: 919px;
    }
  }

  @media(min-width:992px)
  {
    .card-img{
      height:644px ;
    }
  }
  