.news-item>.carousel-caption>p{
    font-size: 15px;
    line-height: 2em;
}

.news-item>img{
    height: 480px;
}

.news-head{
    background-image: url('https://images.pexels.com/photos/4754093/pexels-photo-4754093.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    color: white;
    margin-bottom: 0px;
    padding: 10px;
    text-align: left;
    padding-left: 20px;
}

.news2{
    border-radius: 10px;
    border: gray 5px outset;
    padding: 10px;
}

.news-carousel > .carousel-indicators li{
    border-radius: 100%;
    height: 10px;
    width: 10px;
  }

.news-carousel>.carousel-control-prev,.news-carousel>.carousel-control-next{
    opacity: 0;
  }

