p{
    font-size: 15px;
    line-height: 2em;
}

img{
    height: 480px;
}

.news-head{
    background-image: url('https://images.pexels.com/photos/4754093/pexels-photo-4754093.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    color: white;
    margin-bottom: 0px;
    padding: 10px;

}


.news2{
    border-radius: 10px;
    border: grey 5px outset;
    padding: 10px;
}

